@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* need to fix and add some media queries
   need to hid the button and delete the text-overflow */
  .clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2rem;
  margin: 2rem;
  text-decoration: underline;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
  margin: 2rem;
  text-decoration: underline;
}